*{
    margin = 0;
    padding: 0;
text-align: center;
background: #000000;
color: aquamarine;}


h1{

    height: 5 rem;
    background-color: rgb(100, 10, 197);
    color: rgb(192, 9, 9);
    line-height: 5rem;
}
.choice{
    height:165px ;
    width: 165px; ;
border-radius: 50%;
display: flex;
justify-content: center;
 align-items: center; 
}
.choice:hover{
   cursor: pointer;
   background-color: rgb(130, 12, 221);
}

img{
    height: 150px;
   width: 150px;
   object-fit: cover;
   border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
   margin-top: 4rem;
}

.score-board{display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
gap: 5rem;
}

#user-score #computer-score{
    font-size: 4rem;
    color: rgb(229, 12, 48);
}


#msg{
    
    background-color: #4a0ade;
    color: rgb(0, 255, 106);
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}